/* Fonts from google (Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

/* Reset all */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
ul,
li {
  all: unset;
}

/* All css custom property */
:root {
  /* Colors */
  --first-color: #40bfff;
  --second-color: #ff4858;
  --third-color: #bcddfe;
  --fourth-color: #373737;
  --fifth-color: #ff657e;
  --seventh-color: white;
  --eighth-color: #9098b1;

  /* Font size */
  --xs-font: 1.2rem;
  --normal-font: 1.6rem;
  --md-font: 1.8rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 10000px;
  overflow-x: hidden;
}

.container {
  width: 140rem;
  max-width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Paddings */
.ps {
  padding-inline-start: 0.5rem;
}

.res-img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-position: left;
}

.truncut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::selection,
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
